<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>分销推送平台</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
<link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>接入配置管理</h2>
		          	<ol class="breadcrumb">
			            <li>
			            	<a th:href="@{/main/dashboard}">首页</a>
			            </li>
			            <li>
			            	<a>配置管理</a>
			         	</li>
			          	<li class="active">
			             	<strong>接入配置列表</strong>
			          	</li>
					</ol>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
		  	
        	<div class="wrapper wrapper-content animated fadeInRight">
            	<div class="row">
	            	<div class="col-lg-12">
		            	<div class="ibox float-e-margins">
		                    <div class="ibox-title">
		                        <h5>搜索&amp;操作</h5>
		                        <div class="ibox-tools">
		                            <a class="collapse-link">
		                                <i class="fa fa-chevron-up"></i>
		                            </a>
		                        </div>
		                    </div>
		                    <div class="ibox-content" style="display: block;">
		                    	<form th:action="@{/news/access/list}" th:object="${newsAccessDO}" method="post" id="searchForm">
									<div class="row">
										<div class="col-sm-3 m-b-xs">
											<input id="title" th:field="*{name}"  placeholder="接收方名称" class="form-control" type="text" />
										</div>
										<div class="col-sm-2 m-b-xs">
											<select th:field="*{opened}" id="opened" class="form-control">
												<option value="" th:selected="${newsAccessDO.opened} == null">--请选择开启状态--</option>
												<option value="1" th:selected="${newsAccessDO.opened} == 1">开启</option>
												<option value="0" th:selected="${newsAccessDO.opened} == 0">关闭</option>
											</select>
										</div>
										<div class="col-sm-2 m-b-xs">
											<select th:field="*{receiveType}" id="opened" class="form-control">
												<option value="" th:selected="${newsAccessDO.receiveType} == null">--请选择接收类型--</option>
												<option value="1" th:selected="${newsAccessDO.receiveType} == 1">推送</option>
												<option value="2" th:selected="${newsAccessDO.receiveType} == 2">拉取</option>
											</select>
										</div>
										<div class="col-sm-2 m-b-xs">
											<select th:field="*{pushType}" id="opened" class="form-control">
												<option value="" th:selected="${newsAccessDO.pushType} == null">--请选择推送类型--</option>
												<option value="1" th:selected="${newsAccessDO.pushType} == 1">HTTP</option>
												<option value="2" th:selected="${newsAccessDO.pushType} == 2">TCP</option>
												<option value="3" th:selected="${newsAccessDO.pushType} == 3">RPC</option>
											</select>
										</div>
										<div class="col-sm-2 m-b-xs">
											<select th:field="*{converterType}" id="opened" class="form-control">
												<option value="" th:selected="${newsAccessDO.converterType} == null">--请选择转换器--</option>
												<option value="1" th:selected="${newsAccessDO.converterType} == 1">json</option>
												<option value="2" th:selected="${newsAccessDO.converterType} == 2">xml</option>
												<option value="3" th:selected="${newsAccessDO.converterType} == 3">form</option>
											</select>
										</div>
										<div class="col-sm-2 m-b-xs">
											<select id="priority" th:field="*{priority}" class="form-control" >
												<option value="">--请选择优先级--</option>
												<option value="1"  th:selected="${newsAccessDO.priority} == 1">1</option>
												<option value="2"  th:selected="${newsAccessDO.priority} == 2">2</option>
												<option value="3"  th:selected="${newsAccessDO.priority} == 3">3</option>
												<option value="4"  th:selected="${newsAccessDO.priority} == 4">4</option>
												<option value="5"  th:selected="${newsAccessDO.priority} == 5">5</option>
												<option value="6"  th:selected="${newsAccessDO.priority} == 6">6</option>
												<option value="7"  th:selected="${newsAccessDO.priority} == 7">7</option>
												<option value="8"  th:selected="${newsAccessDO.priority} == 8">8</option>
												<option value="9"  th:selected="${newsAccessDO.priority} == 9">9</option>
												<option value="10"  th:selected="${newsAccessDO.priority} == 10">10</option>
											</select>
										</div>
										<div class="col-sm-2 m-b-xs">
											<button class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
										</div>
									</div>
	                             </form>
	                            <div class="row">
		                            <div class="col-sm-6 m-b-xs">
					                    <a th:href="@{toAdd}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="" data-original-title="Refresh inbox"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增接入&nbsp;&nbsp;&nbsp;&nbsp;</a>
					                </div>
					                <div class="col-sm-6 m-b-xs">
	                             	</div>
					       		</div>
		                  
		                   </div>
	                	</div>
                	</div>
                	<div class="col-lg-12">
	                    <div class="ibox float-e-margins">
	                        <div class="ibox-title">
	                            <h5>接入配置列表</h5>
	                            <div class="ibox-tools">
	                                <a class="collapse-link">
	                                    <i class="fa fa-chevron-up"></i>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="ibox-content">
	                            <div class="table-responsive">
	                                <table class=" table table-hover" data-page-size="10">
	                                    <thead>
		                                    <tr>
		                                    	<th width="20%">接收方标识</th>
		                                        <th width="10%">接收方名称</th>
												<th width="15%">推送接口</th>
												<th width="5%">接收类型</th>
												<th width="5%">推送类型</th>
												<th width="5%">开启状态</th>
												<th width="5%">转换器</th>
												<th width="5%">优先级</th>
												<th width="5%">频率</th>
												<th width="10%">修改时间</th>
												<th width="10%">创建时间</th>
		                                        <th>操作</th>
		                                    </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<tr th:each="news : ${resultVo.result}">
										   		<td th:text="${news.token}">""</td>
										      	<td th:text="${news.name}">""</td>
												<td th:text="${news.pushUrl}">""</td>
												<td th:text="${news.receiveType} == 1 ? '推送' : (${news.receiveType} == 2 ? '拉取' : '')">""</td>
												<td th:switch="${news.pushType}">
													<span th:case="1">HTTP</span>
													<span th:case="2">TCP</span>
													<span th:case="3">RPC</span>
												</td>
										      	<td th:text="${news.opened} == 1 ? '开启' : '关闭'">""</td>
												<td th:switch="${news.converterType}">
													<span th:case="1">json</span>
													<span th:case="2">xml</span>
													<span th:case="3">form</span>
												</td>
												<td th:text="${news.priority}">""</td>
												<td th:text="${news.threshold}">""</td>
										      	<td th:text="${news.modifyTime} != null ? ${#dates.format(news.modifyTime,'yyyy-MM-dd HH:mm:ss')} : ''">""</td>
												<td th:text="${news.createTime} != null ? ${#dates.format(news.createTime,'yyyy-MM-dd HH:mm:ss')} : ''">""</td>
										      	<td>
										      		<a th:href="@{'toEdit_'+${news.id}}" title="修改"><i class="fa fa-edit text-navy"></i></a>
										      		&nbsp;&nbsp;&nbsp;&nbsp;
										      		<a th:href="@{'delete_'+${news.id}}" title="删除"><i class="fa fa-trash-o text-navy"></i></a>
										      	</td>
											</tr>
	                                    </tbody>
	                                   	<tfoot>
			                                <tr>
			                                    <td id="pageHTML" colspan="7" th:inline="text">
			                                    </td>
			                                </tr>
		                                </tfoot>
	                                </table>
			                	</div>
	                        </div>
	           			</div>
                	</div>
            	</div>
        	</div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
	
    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
	
    <!-- Peity -->
    <script th:src="@{/js/demo/peity-demo.js}"></script>
	
	<!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>

    <script th:inline="javascript">
	    var pageHTML = [[${pageinationd}]];
		$(document).ready(function () {
			$("#pageHTML").html(pageHTML);
		});
    </script>

</body>

</html>
