<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!-- 使用注解方式暴露接口 -->
    <dubbo:annotation package="com.githup.study" />
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-provider-application"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="10.200.6.197:2181" check="false"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20882" threads="50"/>

    <!-- 监控注册 -->
    <!--<dubbo:monitor address="${dubbo.monitor.address}"/>-->

    <dubbo:consumer check="false" lazy="true"/>

    <!-- 默认超时时间2分钟，重试次数0次 -->
    <dubbo:provider timeout="120000" retries="0" delay="50"/>

    <bean id="helloService" class="com.githup.study.dubbo.provider.service.impl.HelloService"/>
    <dubbo:service ref="helloService" interface="com.github.study.service.IHelloService"/>

    <!--<dubbo:reference id="userService" interface="com.github.study.service.IUserService"/>-->

</beans>