<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.handy.demo.web.mapper.NotesDateMapper">
    <insert id="save" parameterType="com.githup.study.web.simple.domain.NotesDate">
        insert into t_date(notes,create_datetime,create_date,create_time,create_timestrap)
        values(#{notes},#{createDatetime,jdbcType=TIMESTAMP},#{createDate,jdbcType=DATE},#{createTime,jdbcType=TIME},#{createTimestrap,jdbcType=TIMESTAMP})
    </insert>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.githup.study.web.simple.domain.NotesDate">
        select * from t_date where id = #{id}
    </select>
</mapper>